<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNO</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <div id="intro-container" class="container mt-5 pt-5">
      <h1>UNO <em>lite</em></h1>
      <h2 class="mt-5 mb-3 name">Enter your name to play!</h2>
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Gamer's name"
          aria-label="Recipient's username"
          aria-de scribedby="button-addon2"
          name="playerName"
          id="player-name"
        />
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="join-btn">
            Join game
          </button>
        </div>
      </div>
    </div>

    <div id="play-game" style="display: none" class="container mt-5 pt-5">
      <!--  -->
      <div class="row d-flex justify-content-center" id="rule-div">
        <div class="card" style="width: 25rem;" id="rule-card">
          <img src="/rules.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title rule-title">UNO lite rules!</h5>
            <p class="card-text rule-description">UNO lite is a single-player game. The goal is to get rid of all but one card in hand.</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Click the card pile to see the deck card.</li>
            <li class="list-group-item">Click your card to discard it when your card matches the pile card number or color.</li>
            <li class="list-group-item">If no match, add the card to your hand.</li>
            <li class="list-group-item">You win when you have only one card left.</li>
          </ul>
          <div class="card-body">
            <a href="https://en.wikipedia.org/wiki/Uno_(card_game)" class="card-link wiki-link" target="_blank">UNO wikipedia</a>
            <!-- <a href="#" class="card-link">Another link</a> -->
          </div>
        </div>
      </div>
      <!--  -->
      <div class="row d-flex justify-content-center mt-5">
        <button type="button" class="btn btn-primary btn-lg" id="play-btn">Click to play!</button>
      </div>
    </div>

    <!-- game started -->
    <div class="container" id="game-started" style="display: none">
      <div class="row d-flex flex-column justify-content-center">
        <!-- <div class="row d-flex flex-column"></div> -->
        <h2 class="mb-2">Game Started!</h2></br>
        <p class="intro-text">You are dealt five cards</p>
        <p class="intro-text">If your card matches the pile card: color or number</p>
        <p class="intro-text">Click on your card to get rid of it</p>
      </div>
      <!--  this is where the cards are generated dynamically -->
      <div class="row mb-5 pb-5 d-flex justify-content-center" id="card-row"></div>
    <!-- winning message -->
      <div class="alert alert-success" role="alert" style="display: none;"    id="success-msg">
        <p>UNO!!! congratulation you won the round.</p>
        <button type="button" class="btn btn-success btn-lg" id="play-again">Play again</button>
      </div>
      <!-- pile card info from here -->
      <h5 class="mt-5 mb-2 pt-5 pb-2">Click to see the card in the pile</h5>
      <div class="row card-pile d-flex justify-content-center" id="card-pile">
        <div class="col-4" id="poped-card">
          <h3 id="suit">Flip me!!</h3>
          <h6 id="rank" class="d-flex justify-content-center"><img src="/flipme.png" class="flip-me"/></h6>          
        </div>
      </div>

      <!-- add to the players hand -->
      <div class="row mt-5 pt-5">
        <div class="col-6 mx-auto">
          <span>Didn't find a match?</span>
          <button type="button" class="btn btn-primary btn-sm ml-3" id="add-card">add card to player's hand</button>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.socket.io/4.1.2/socket.io.min.js"
      integrity="sha384-toS6mmwu70G0fw54EGlWWeA4z3dyJ+dlXBtSURSKN4vyRFOcxd3Bzjj/AoOwY+Rg"
      crossorigin="anonymous"
    ></script>
    <!-- socket connection -->
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <!-- <script>
      let socket = io();
    </script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="script.js"></script>
  </body>
</html>
