/* html,
body {
  height: 100%;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

body {
  /* background-color: rgb(193, 216, 219); */
  background-color: #52006a;
  /* color: white; */
  color: rgb(233, 218, 218);
}
#intro-container {
  margin: auto;
  height: 50vh;
}
.name {
  padding-top: 20%;
  padding-bottom: 5%;
}
.intro-text {
  text-align: center;
  margin-bottom: 0;
  font-size: 1.25;
}
#game-started {
  margin-top: 200px;
  margin-bottom: 200px;
}
h2 {
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 55px;
}
#join-btn {
  color: rgb(233, 218, 218);
}
/* #card {
  height: 250px;
  width: 150px;
  border: 2px solid black;
} */
/* #card-pile {
  height: 250px;
  width: 150px;
  border: 2px solid black;
} */
.red {
  background-color: red;
}
.green {
  background-color: yellowgreen;
}
.yellow {
  background-color: #ffcc29;
  color: rgb(135, 132, 132);
}
.blue {
  background-color: blue;
}

.red,
.green,
.blue,
.yellow {
  margin: 10px;
  text-align: center;
  color: white;
  /* from the card id code */
  height: 250px;
  width: 150px;
  border: 2px solid black;
}

#poped-card {
  height: 250px;
  width: 170px;
  border: 2px solid white;
}
/* play game container */
/* #play-game {
  margin-top: 200px;
} */
#card-row {
  margin: 70px;
}
h5 {
  text-align: center;
  font-weight: 200;
}
h3 {
  text-align: center;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 42px;
  margin: 0 auto;
  padding-top: 50px;
}
.rule-title {
  color: #430257;
  font-weight: 500;
}
.rule-description {
  color: rgb(119, 118, 118);
}
li {
  font-weight: 200;
  color: rgb(119, 118, 118);
}
.wiki-link {
  color: rgb(99, 99, 245);
  font-weight: 100;
}
